.selectbutton {
    border: 2px solid gold;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Montserrat";
    cursor: pointer;
    font-weight: 700;
    width:22%;

}

.selectbutton:hover{
    background-color: gold; 
    color: black;
}

@media (max-width: 576){
    .selectbutton {
        cursor: pointer;
        margin-left: 10px;
    
    }
    
}